.columns {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
  }
}

/* Fixed Alert Box */
.fixed-notification {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  min-width: 25rem;
}
@media screen and (max-width: 768px) {
  .fixed-notification {
    left: 1rem;
  }
}
/* EO Alert Box */

/* Page Loader/Ajax Processing */
.ajaxloader {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.ajaxloader.is-active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* .ajaxloader:not(.is-left-to-right), .ajaxloader:not(.is-right-to-left) {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
} */
.ajaxloader {
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding-top: 2em;
  background: #00d1b2;
  z-index: 999998;
  transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
  will-change: transform;
}
